# Node
node_modules/
dist/
build/
.vscode/*
!.vscode/settings.json

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Certificates (dev)
*.pem
*.crt
*.key

# OS
.DS_Store
Thumbs.db

# Office add-in sideload
~$*.pptx
